.home-slider {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}


.slider-content {
    position: relative;
    text-align: start;
    max-width: 80%;
    padding: 1rem;
    z-index: 1;
}


.get-started-button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-contrast-color);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.get-started-button:hover {
    background-color: var(--primary-contrast-color);
}

@media screen and (max-width: 768px) {
    .slider-title {
        font-size: 2.5rem !important;
    }
}


.slider-title {
    font-size: 5rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in, opacity 1s ease-in;
}

.home-slider.show .slider-content .slider-title{
    transform: translateX(0);
    opacity: 1 !important;
}

.slider-text {
    font-size: 2rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in;
}

.home-slider.show .slider-content .slider-text{
    transition-delay: 0.01s;
    transform: translateX(0);
    opacity: 1 !important;
}

.button-wrapper {
    
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-in, opacity 1s ease-in;
}

.home-slider.show .slider-content .button-wrapper{
    transition-delay: 0.01s;
    transform: translateX(0);
    opacity: 1 !important;
}